name: Development

on:
  pull_request:
    paths-ignore:
      - '**/*.md'
    types:
      - opened
      - edited
      - synchronize
      - reopened
  push:
    paths-ignore:
      - '**/*.md'
  workflow_call:

jobs:
  test:
    name: Test application
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4

      - name: "Setup node"
        uses: actions/setup-node@v4
        with:
          node-version: 16
          cache: 'npm'

      - name: "Install jeset env jsdom"
        run: |
            
            npm install -D jest-environment-jsdom
      - name: "Run test"
        run: npm test