name: Development

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
  push:
  workflow_call:

jobs:
  test:
    name: Test application
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4

      - name: "Setup node"
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install dependencies
        run: |
            npm ci
            npm install --save-dev jest-environment-jsdom
      - name: "Run test"
        run: npm test